nav {
    display: flex;
    background-color: rgb(0, 0, 0);
    border:  1px solid rgb(150, 150, 150);
    padding: 2px;
    min-height: 50px;
    align-items: center;
    box-shadow: 1px;
    max-height: 50px;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: #b1b1b1;
    font-weight: 500;
}
nav a:hover{
    text-decoration: none;
    color: #63c49a;
    font-weight: 500;
}
.botones-menu-sup{
    color: #485058;
    border-radius: 10px;
    padding: 5px;
}
.botones-menu-sup:hover{
    color: #000000;
    background-color: aliceblue;
}
.contenido-logo{
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 50px;
    border-bottom: 1px solid rgb(75, 75, 75);
}
.logo-menu{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}
.logo-menu:hover{
    color: #63c49a;
}

.buton-menu-padre i{
    color: #63c49a;
}

.oculto {
    visibility: hidden;
}

.menu_lateral {
    background-color: #000000;
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0px;
    border: 1px solid rgb(75, 75, 75);
}
.acordeon {
    width: 250px;
}

.contenido-padre {
    display: flex;
    flex-wrap: nowrap;
    width: 250px;
    padding: 3px;
}

.buton-menu-padre {
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgb(173, 173, 173);
    font-weight: 500;
    align-content: center;
    
}
.buton-menu-padre.activo{
    color: black;
    background-color: azure;
}

.buton-menu-padre:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    transition: background-color 0.3s ease;
    border-radius: 10px;

}

.contenido-hijo {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    background-color: #485058;
    padding: 4px;
    gap: 10px;
}

.contenido-hijo .oculto {
    z-index: -1;
    flex-wrap: wrap;
    width: 0px;
}

.buton-menu-hijo {
    width: 250px;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.buton-menu-hijo:hover {
    color: black;
    background-color: azure;
    transition: background-color 1.3s ease;
}