body {
    
    
    background-image: url('../images/fondo/fondo1.webp');
    background-size: cover;
}

.container {
    height: 90%; /* Altura del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    
    background-color: rgba(240, 248, 255, 0.438);
    margin: 2px;
    padding: 10px;
    border: 1px solid white;
   
}
.titulo{
    text-align: center;
    border-bottom: 1px solid white;
}
